{% extends 'tapasapp/base.html' %}
{% load static %}


<!--This will show the sidebar-->

<ul class="side_bar">

    {% block sidebar %}
    <!--Return to actual main screen-->
    <li><a href="{% url 'view_menu' %}">Back to main </a></li>
    {% endblock %}
</ul>

<!--This is showing the entire adding menu-->
                    {% block content %}

                    <div class="w-75">

                        <div class="card">
                            <div class="card-header">
                                <h5>Type in Dish Details:</h5>
                            </div>

                            <div class="card-body" method="POST" action="">

                                    <div class="w-100 pb-3">
                                        <label class="form-label">Name:</label>
                                        <input type="text" name="name" class="w-100 border border-secondary rounded">

                                        
                                    </div>

                                    <div class="row mb-3">

                                        <div class="col-md-6">
                                            <label class="form-label">Cook Time:</label>
                                            <div>
                                                <input type="text" name="cook_time" class="w-50 border border-secondary rounded">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Prep Time:</label>
                                            <div>
                                                <input type="text" name="prep_time" class="w-50 border border-secondary rounded">
                                            </div>
                                        </div>

                                    </div>

                                    <button type="submit" class="btn btn-secondary">
                                        Add to dishes
                                    </button>


                            </div>
                        </div>

                    </div>

                    {% endblock %}