{% extends 'tapasapp/base.html' %}
{% load static %}


<ul class="side_bar">

    {% block sidebar %}
    <!--These are placeholder links only-->
    <li><a href="{% url 'view_wines' %}">View Wines</a></li>
    <li><a href="{% url 'view_large_dishes' %}">View Large Dishes</a></li>
    <li><a href="{% url 'view_coursed_menus' %}">View Coursed Menus</a></li>
    {% endblock %}
</ul>

<!--This shows the entire list of menu-->
                {% block content %}
                <div class="col-12">
                    <table class="table table-striped">
                        <thead >
                            <tr>
                                <th class="table-dark" scope="col"> Name </th>
                                <th class="table-dark" scope="col"> Cooking Time </th>
                                <th class="table-dark" scope="col"> Prep Time </th>    
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in dishes %}
                            <tr>
                                <td> {{ d.name }} </td>
                                <td> {{ d.prep_time }} </td>
                                <td> {{ d.cook_time }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endblock %}

<!--This will show the side menu-->

<h1>Side Menu</h1>